/* color: #61ad99; */

header {
    /* background-color: #cad2c5; */
    font-family: "Jost", sans-serif;
    color: #f2fffc;
}


/* h1 {
    display: inline;
} */

.mini-header-txt {
    margin-bottom: 0;
    color: black;
}

.logo {
    width: 200px;
    margin-left: 34px;
}

.dropdown-toggle {
    background-color: transparent;
    color: black;
}

.dropdown-toggle:hover {
    background-color: transparent;
    color: black;
}


/* .form-inline {
    margin-left: 100px;
} */

.navbar {
    justify-content: space-between;
    background-color: white !important;
}

.navbar.navbar-expand-lg {
    background-color: transparent !important;
    justify-content: center !important;
    /* margin-left: 34px; */
}

.btn-outline-success {
    color: grey;
    border-color: transparent;
    border-radius: 0.25rem;
}

.btn-outline-success:hover {
    color: #f2fffc;
}

input[type="search"] {
    width: 150px !important;
    /* height: 35px !important; */
    background-image: url("../../assets/searchicon.jpg");
    padding: 12px 20px 12px 12px;
    font-size: 16px;
    background-size: 20px;
    background-position: right;
    background-repeat: no-repeat;
    border: 2px solid #ccc;
    border-radius: 6px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type="search"]:focus {
    width: 150% !important;
}

.carousel-item {
    height: 800px;
    width: 100%;
}

.headline {
    color: #2f3e46;
}

hr.divider {
    max-width: 3.25rem;
    border-width: 0.2rem;
    border-color: #e76f51;
}

.img-banner {
    display: flex;
    width: 100%;
}

.gif-home-1 {
    display: flex;
    overflow-x: auto;
}

.btn-shop-now {
    padding: 5px 10px;
    border-radius: 3px;
    border-color: transparent;
    background-color: black;
    color: white;
    transition: 0.3s;
}

.btn-shop-now:hover {
    background-color: #e76f51;
    border-color: transparent;
}

.mini-banner-home {
    display: flex;
    float: right;
    clear: right;
    overflow-x: auto;
    /* width: 1009px;
    height: 375px; */
}

.text-on-banner {
    font-size: 100px;
    border-radius: 5px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.banner-content {
    text-align: center;
}

.hr-banner {
    border-width: 0.4rem;
    border-color: white;
    margin-top: 0;
}

.btn-get-started {
    padding: 10px 10px;
    border-radius: 6px;
    border-color: transparent;
    background-color: #e76f51;
    color: white;
    box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.8);
    transition: 0.3s;
    font-size: x-large;
    /* margin-top: 0px; */
}

.btn-get-started:hover {
    background-color: black;
    border-color: transparent;
}

button {
    padding: 5px 10px;
    border-radius: 3px;
    border-color: transparent;
    background-color: black;
    color: white;
    transition: 0.3s;
}

button:hover {
    background-color: #e76f51;
    border-color: transparent;
}

#cart-button {
    padding: 5px 10px;
    border-radius: 3px;
    border-color: transparent;
    background-color: #383a3d;
    color: white;
    border-radius: 4px;
}

#cart-button:hover {
    background-color: #e76f51;
    border-color: transparent;
}


/* LIST PRODUCT */

.list-product-home {
    justify-content: center;
    margin-bottom: 20px;
    display: flex;
}

.row {
    margin-right: 0;
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
    color: #e76f51;
}


/* Best Sellers */

.fas.fa-star {
    color: yellow;
}

.far.fa-star {
    color: grey;
}

.best-seller-home {
    justify-content: center;
    margin-bottom: 20px;
}


/* product detail */

.card-product-desc {
    border: none;
}

.card {
    border: none;
}

.banner-bottom {
    display: flex;
    justify-content: center;
}

.container-cateogry {
    display: flex;
    justify-content: center;
}


/* category card in home */

.card-list-category {
    position: relative;
    transition: .2s;
    box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.8);
}

.card-list-category .text-content,
.card-list-category:after {
    position: absolute;
    left: 20px;
    right: 20px;
}

.card-list-category:after {
    content: '';
    display: block;
    background: crimson;
    bottom: 20px;
    opacity: 0;
    transform: rotate3d(-1, 1, 0, 100deg);
    transition: .4s;
}

.card-list-category:hover::after {
    opacity: -9;
    transform: rotate3d(0, 0, 0, 0deg);
}

.text-content {
    top: 50%;
    opacity: 0;
    z-index: 1;
    transform: translate(10%, -30%);
    transition: .2s;
    text-align: center;
    color: black;
}

.text-content p {
    font-size: 24px;
    font-weight: bold;
}

.card-list-category:hover .text-content {
    opacity: 1;
    transform: translate(0, -50%);
    transition-delay: .2s;
}

.img-category {
    opacity: 0.7;
}


/* footer */

footer {
    background-color: none;
    color: black;
    padding-left: 50px;
    padding-bottom: 20px;
    /* padding-top: 10px; */
    margin-top: 20px;
}

.footer {
    overflow-x: auto;
}


/* table */

td {
    padding-right: 120px;
}

th {
    padding-bottom: 10px;
}

.table-footer {
    margin-right: 0;
}

.table-cart-container {
    text-align: center;
}


/* login */

.container {
    margin: 0;
    max-width: 100%;
}

.form-label-group {
    margin-bottom: 10px;
    overflow-x: auto;
}


/* sign up */

.sign-up-space-between {
    display: flex;
    justify-content: space-between;
}


/* cart */

.delete-cart {
    padding: 2px 7px;
    border-radius: 3px;
    border-color: transparent;
    background-color: #e76f51;
    color: white;
    transition: 0.3s;
}

.delete-cart:hover {
    background-color: black;
    border-color: transparent;
}


/* button plus minus */

.qty .count {
    color: #000;
    display: inline-block;
    vertical-align: top;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    padding: 0 2px;
    min-width: 35px;
    text-align: center;
}

.qty .plus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 30px;
    height: 30px;
    font: 30px/1 Arial, sans-serif;
    text-align: center;
    border-radius: 50%;
}

.qty .minus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 30px;
    height: 30px;
    font: 30px/1 Arial, sans-serif;
    text-align: center;
    border-radius: 50%;
    background-clip: padding-box;
}

.minus:hover {
    background-color: #e76f51 !important;
}

.plus:hover {
    background-color: #e76f51 !important;
}


/*Prevent text selection*/

span {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

input {
    border: 0;
    width: 2%;
}

nput::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input:disabled {
    background-color: white;
}


/* text banner */


/* @function textShadow($precision,
$size,
$color) {
    $value: null;
    $offset: 0;
    $length: $size * (1 / $precision) - 1;
    @for $i from 0 through $length {
        $offset: $offset + $precision;
        $shadow: $offset + px $offset + px $color;
        $value: append($value, $shadow, comma);
    }
    @return $value;
}

.playful span {
    position: relative;
    color: white;
    text-shadow: textShadow(0.25, 6, #E485F8);
    animation: scatter 1.75s infinite;
}

.playful span:nth-child(2n) {
    color: #e76f51;
    text-shadow: textShadow(0.25, 6, #F2A063);
    animation-delay: 0.3s;
}

@keyframes scatter {
    0% {
        top: 0;
    }
    50% {
        top: -10px;
    }
    100% {
        top: 0;
    }
}

.playful {
    font-size: 50px;
    text-transform: uppercase;
    font-family: "Archivo Black", "Archivo", sans-serif;
    font-weight: normal;
    display: block;
    width: 666px;
    max-width: 80vw;
    min-height: 90px;
    height: auto;
    text-align: center;
    margin: 10rem auto;
    margin: calc(50vh - 5rem) auto;
} */